body {
  font-family: "open Sans", sans-serif;
	background-image: linear-gradient(to left, #A30200, #FF6E61, #FF5252);
  color:#fff
}
h1,
h2,
h3 {
  font-family: "Lobster", "cursive";
  text-shadow: 3px 3px 3px black
}

h2 {
	color: #ffffff;
}

header h2 {
	color: #ffffff;
}

.site-footer{
	background-image: linear-gradient(to top #FF5252);
  padding: 10px 0px;
}

.jumbotron {
	margin: 0;
	padding: 30px;
	background-image: linear-gradient(to right, #A30200, #FF6E61, #FF5252);
	color: white;
}

.row-content {
	padding: 50px 0px;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.navbar {
	background-color: #555555;
}

.text-row h1{
	font-size:4.5em;
	font-weight: 700;
}
.text-row p{
	font-size:2.0em;

}
.c1{
	border: solid 3px #31B2AF;
	box-shadow: 0 0 10px 5px #31B2AF;
}
.c2{
border:solid 3px #4C4E60;
box-shadow: 0 0 10px 5px #4C4E60;

}

.c3{
	border: solid 3px #F6BDA0;
	box-shadow: 0 0 10px 5px #F6BDA0;

}

span{
	font-size:.7em;
}

 .c1, .c2, .c3{
	margin:0px 5px 0px 5px;
	border-radius: 75px 0;

}
.c1 img, .c2 img, .c3 img{
	border-radius: 75px 0;
} 


.carousel-caption{
	background-color: rgba(0 , 0 , 0 , 0.5);
}
.carousel{
	border:#3046c5
}
.site-footer a{
  color:#fff
}
label{
  color:black;
}