body {
	font-family: "open Sans", sans-serif;
}
h1,
h2,
h3 {
	font-family: "Lobster", "cursive";
}

h2 {
	color: #3046c5;
}

header h2 {
	color: #cec8ff;
}

.site-footer{
    background-image: linear-gradient(#b7a8f8, white);
    padding: 20px 0px;
}

.jumbotron {
	margin: 0;
	padding: 30px;
	background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
	color: white;
}

.row-content {
	padding: 50px 0px;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.navbar {
	background-color: #901cad;
}

.c1{
	border: solid 3px #31B2AF;
	border-radius: 10px;
}
.c2{
border:solid 3px #4C4E60;
border-radius: 10px;

}

.c3{
	border: solid 3px #F6BDA0;
	border-radius: 10px;
}

span{
	font-size:.7em;
}